SAW/SAW.WebApplication/Connected Services/DataCenterService/DataCenterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/DataCenterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" />
  <xs:element name="GetStationHourDataFromLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataFromLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetStationHourDataFromLiveResult" nillable="true" type="q1:StationHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataListFromLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataListFromLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetStationHourDataListFromLiveResult" nillable="true" type="q2:ArrayOfStationHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataFromHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePoint" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataFromHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetStationHourDataFromHistoryResult" nillable="true" type="q3:StationHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataListFromHistoryByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePoint" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataListFromHistoryByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetStationHourDataListFromHistoryByTimeResult" nillable="true" type="q4:ArrayOfStationHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataListFromHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationHourDataListFromHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetStationHourDataListFromHistoryResult" nillable="true" type="q5:ArrayOfStationHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataFromLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataFromLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityHourDataFromLiveResult" nillable="true" type="q6:CityHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataListFromLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataListFromLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityHourDataListFromLiveResult" nillable="true" type="q7:ArrayOfCityHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataFromHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePoint" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataFromHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityHourDataFromHistoryResult" nillable="true" type="q8:CityHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataListFromHistoryByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePoint" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataListFromHistoryByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityHourDataListFromHistoryByTimeResult" nillable="true" type="q9:ArrayOfCityHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataListFromHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHourDataListFromHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityHourDataListFromHistoryResult" nillable="true" type="q10:ArrayOfCityHourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataFromLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataFromLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityDayDataFromLiveResult" nillable="true" type="q11:CityDayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataListFromLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataListFromLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityDayDataListFromLiveResult" nillable="true" type="q12:ArrayOfCityDayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataFromHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePoint" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataFromHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityDayDataFromHistoryResult" nillable="true" type="q13:CityDayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataListFromHistoryByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePoint" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataListFromHistoryByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityDayDataListFromHistoryByTimeResult" nillable="true" type="q14:ArrayOfCityDayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataListFromHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayDataListFromHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ForecastDataSystem.WCF.Models" minOccurs="0" name="GetCityDayDataListFromHistoryResult" nillable="true" type="q15:ArrayOfCityDayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>